html, body{
  background: url('/images/landscape.jpg');
  margin-top: 40px;
    height: 1280px;
    width: 800px; 
    
}
@font-face {
    font-family: 'DarkCrystalScript';
    src: url('DarkCrystalScript.eot');
    src: url('DarkCrystalScript.eot?#iefix') format('embedded-opentype'),
    url('DarkCrystalScript.ttf') format('truetype'),
    url('DarkCrystalScript-webfont.svg#FontName') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DarkCrystalOutline';
    src: url('DarkCrystalOutline.eot');
    src: url('DarkCrystalOutline.eot?#iefix') format('embedded-opentype'),
    url('DarkCrystalOutline.ttf') format('truetype'),
    url('DarkCrystalOutline-webfont.svg#FontName') format('svg');
    font-weight: normal;
    font-style: normal;
}
#mynavbar-inverse {
 background-color: #544B3E;   
}

.title{
 text-align: center; 
 font-family: "comic sans ms";
 font-size: 24px;
}
.spacer {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -40px;
    display: inline-block;
}

.spacer-font {
    font-family: 'DarkCrystalScript', sans-serif;
    font-size: 21px;
    color: red;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -40px;
    display: inline-block;
    
}
.footer-inverse{
    height: 30px;
    background-color: #615849;
    color: white;
}
.upper-left-monster {
 height: 250px;
 width: 240px;
 display: inline-block;
 float: left;
}
.upper-left-monster:hover {
    position: 0 0;
}
.lower-left-monster {
 height: 250px;
 width: 240px;
 display: inline-block;
 float: left;
}
.lower-left-monster:hover {
    position: 0 0;
}
.left-{
  display: inline-block;
}
.upper-right-monster{
    height: 250px;
    width: 240px;
    display: inline-block;
    float: right;
}
.upper-right-monster:hover {
    position: 0 0;
}
.lower-right-monster{
    height: 250px;
    width: 240px;
    display: inline-block;
    float: right;
}
.lower-right-monster:hover {
    position: 0 0;
}
.container {
    
    margin-left: 10 auto;
   
}
.header{
 display: block;   
}

@font-face {
  font-family: 'Something Strange';
  src: url('Something Strange') format('truetype');
}

.row .middle{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.header .col-lg-8 {
    display: block; 
    height: 110px;
}
.col-lg-6 {
    height: 250px;
    display: block;
    border: 1px solid white;
}
.banner{
 font-size: 60px;
    text-align: center;
    color: red;
    font-family: "Something Strange";
}

.footer {
 display: block;   
}
/*a:link {color: #000000; text-decoration: underline; }
a:active {color: #000; text-decoration: underline; }
a:visited {color: #008000; text-decoration: underline; }
a:hover {color: #ff0000; text-decoration: none; }*/


.col-lg-3 {
    display: inline-block;
    height: 100%;
    overflow:hidden;
    position:relative;
}
.img {
    hover: height: 540px; width: 500px; position: 100 100;
}
.footer-info-left{
    color: red;
    font-size: 12px;
    margin-top: 10px;
    display: inline-block;
}
.footer-info-right{
    color: red;
    float: right;
    font-size: 12px;
    margin-top: 10px;
    display: inline-block;
}
.social {
 height: 20px;
    width: 20px;
}
.pictures {
    display: block;
}