html, body{
}
#mynavbar-inverse {
 background-color: #544B3E;   
}
.footer-info{
 color: white;
    font-size: 12px;
    margin-top: 10px;
}
.footer-info-right{
 color: white;
    float: right;
    font-size: 12px;
    margin-top: 10px;
}
.title{
 text-align: center; 
 font-family: "comic sans ms";
 font-size: 24px;
 color: white;
}
.footer-inverse{
height: 30px;
    background-color: #615849;
    color: white;
}
.monster {
 height: 331px;
 width: 320px;
}
.left{
  display: inline-block;
}
.right{
  display: inline-block;
    float: right;
}
.container {
    height: 100%;
   /* background-color: beige; */
   
}
.header{
 display: block;   
}

.header .col-lg-8 {
    display: block; 
    height: 110px;
}
.col-lg-4 {
    height: 110px;
    display: inline-block;
}
.main .col-lg-2 {
    height: 100%;
    display: block; 
}
.col-lg-6 {
    height: 100%;
}
.footer {
 display: block;   
}
a:link {color: #ffffff; text-decoration: underline; }
a:active {color: #fff; text-decoration: underline; }
a:visited {color: #008000; text-decoration: underline; }
a:hover {color: #ff0000; text-decoration: none; }

.footer .col-sm-1 {
    height: 100%;
    
  background-color: #5F5646;
}

.col-lg-6 {
    display: inline-block;
    height: 100%;
}
