html, body{
  background: url('/images/landscape.jpg');
  /*margin-top: 35px;*/
    height: 1280px;
    width: 100%; 
    
}
@font-face {
    font-family: 'DarkCrystalScript';
    src: url('DarkCrystalScript.eot');
    src: url('DarkCrystalScript.eot?#iefix') format('embedded-opentype'),
    url('DarkCrystalScript.ttf') format('truetype'),
    url('DarkCrystalScript-webfont.svg#FontName') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DarkCrystalOutline';
    src: url('DarkCrystalOutline.eot');
    src: url('DarkCrystalOutline.eot?#iefix') format('embedded-opentype'),
    url('DarkCrystalOutline.ttf') format('truetype'),
    url('DarkCrystalOutline-webfont.svg#FontName') format('svg');
    font-weight: normal;
    font-style: normal;
}
#mynavbar-inverse {
 background-color: #544B3E;   
   
}
.monster-label {
    font-family: 'DarkCrystalScript', sans-serif;
    font-size: 20px;
    margin: 10px auto;
    color: white;
}
.opening {
    font-family: 'DarkCrystalScript', sans-serif;
    font-size: 20px;
    text-align: center;
    width: 70%;
    margin: 10px auto;
    color: red;
}
.normal-text {
    font-family: 'DarkCrystalScript', sans-serif;
    font-size: 20px;
    color: red;
}
.title{
 text-align: center; 
 font-family: 'DarkCrystalScript', sans-serif;
 font-size: 48px;
 color:white;
}
.join {
    font-family: 'DarkCrystalScript', sans-serif;
    font-size: 24px;
    color: white;
    
}
.spacer {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    color: red;

}
.angel {
    height: 360px;
    width: 180px;
    display: inline-block;
    padding-right: 0px; 
    padding-top: 10px;
    padding-bottom: 10px;
}
.angel-1 {
    height: 180px;
    width: 90px;
    display: inline-block;
    padding-right: 0px; 
}

.spacer-font {
    font-family: 'DarkCrystalScript', sans-serif;
    font-size: 21px;
    color: red;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -30px;
    display: inline-block;
    
}
.footer-inverse{
    height: 30px;
    background-color: #615849;
    color: white;
}
/*.monster-navbar {
    margin-top: -40px;
    padding-top: -40px;
}*/
.upper-left-monster {
 height: 250px;
 width: 240px;
 display: block;
 padding-right: 0px;

 }
.upper-left-monster:hover {
    position: 0 0;
}
.lower-left-monster {
 height: 250px;
 width: 240px;
 display: block;
 float: right;
}
.lower-left-monster:hover {
    position: 0 0;
}
.left-col {
  display: inline-block;
  width: 25%;
  float: left;
}
.right-col {
    width: 25%;
    float: right;
    display: inline-block;
}
.landing-container {
    background: #C6C6B1;
    width: 50%;
    margin: 0 auto;
    display: inline-block;
    opacity: .8;

}
.upper-right-monster{
    height: 250px;
    width: 240px;
    display: block;
}
.chat-container {
  width: 80%;
  margin: 10px auto;
}

.lower-right-monster{
    height: 250px;
    width: 240px;
    display: block;
    float: right;
}
.lower-right-monster:hover {
    position: 0 0;
}
.main-container {
    
    width: 90%;
    margin: 0px auto;   
}
.container {
    width: 90%;
    margin: 0px auto;
    background-color: #C6C6B1;
    opacity: .9;
}
.header{
 display: block;   
}

@font-face {
  font-family: 'Something Strange';
  src: url('Something Strange') format('truetype');
}

.row .middle{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.header .col-lg-8 {
    display: block; 
    height: 110px;
}
.col-lg-6 {
    height: 250px;
    display: block;
    border: 1px solid white;
}
.banner{
 font-size: 60px;
    text-align: center;
    color: red;
    font-family: "Something Strange";
}

.footer {
 display: block;   
}
/*a:link {color: #000000; text-decoration: underline; }
a:active {color: #000; text-decoration: underline; }
a:visited {color: #008000; text-decoration: underline; }
a:hover {color: #ff0000; text-decoration: none; }*/


.col-lg-3 {
    display: inline-block;
    height: 100%;
    overflow:hidden;
    position:relative;
}
.img {
    hover: height: 540px; width: 500px; position: 100 100;
}
.footer-info-left{
    color: red;
    font-size: 12px;
    margin-top: 10px;
    display: inline-block;
}
.footer-info-right{
    color: red;
    float: right;
    font-size: 12px;
    margin-top: 10px;
    display: inline-block;
}
.social {
 height: 20px;
    width: 20px;
}
.pictures {
    display: block;
}
.white {
    color: white;
    font-size: 20px;
}
.backdrop {
    background-color: white;
    opacity: 75%;
}