<form name="monsterForm" ng-submit="newMonster">
<div>
    <select ng-model="User.monsterId">
        <option ng-repeat="monster in monsters" value="{{monster.monsterId}}">{{monster.monsterName}}</option>
    </select>     
</div>
    
<div>
    <input type="text" ng-model="User.reg_firstname" placeholder="First name"/><br/>
    <input type="text" ng-model="User.reg_lastname" placeholder="Last name"/><br/>
    <input type="text" ng-model="User.reg_streetAddress" placeholder="Street Address"/><br/>
    <input type="text" ng-model="User.reg_City" placeholder="City"/><br/>
    <input type="text" ng-model="User.reg_State" placeholder="State"/><br/>
    <input type="text" ng-model="User.reg_postalCode" placeholder="Postal Code"/><br/>
    <input type="text" ng-model="User.reg_password" placeholder="password"/><br/>
    <input type="text" ng-model="User.reg_email" placeholder="email"/><br/>
    <input type="text" ng-model="User.reg_username" placeholder="username"/><br/>
    <input type="text" ng-model="User.reg_faction" placeholder="faction"/><br/>
    <button ng-click="registerMe()">Register</button><br/>
</div>
    
</form>