<div class='container'>
	<div class='col-md-12' ng-include src="'views/_happy.html'"></div>
</div>
<div class='container'>
	<section class='chat-section' id='chat_application'>
		<div class='container'>
			<h2>
				MonsterFactions
			</h2>
			<p>
			<span class='label label-success' ng-show='selectedChannel'>And... We're Live!</span>
			Channels are listed across the screen. To send a chat message,
			enter a message in the box and click the 'Send' button.
			</p>
 			<a ng-href='#/join'>sign out</a>
			
				<div class='col-md-10'>
					<small class='marker'>Chat History</small>
					<form ng-submit='publish()'>
						<div class='input-group'>
							<input class='input-sm form-control' ng-model='newMessage' type='text'>
							<span class='input-group-btn'>
							<input class='input-sm btn btn-default' type='submit' value='Send'>
							</span>
						</div>
					</form>
					<div class='well chatbox' id='chat_history'>
						<ul class='list-unstyled'>
						<li ng-repeat='message in messages'>
						<i class='fa fa-comment'></i>
						&nbsp;
						{{message}}
						</li>
						</ul>
					</div>
				</div>
		</div>
	</section>
</div>
<div ng-include src="'views/_content.html'"></div>
<div ng-include src="'views/_footer.html'"></div>
